Package: com.imokhles.antieffective
Name: AntiEffective
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Anti Effective. Power issue
Maintainer: iMokhles
Author: iMokhles
Section: Tweaks
Version: 1.0-2
Installed-Size: 72
